.app-header {
  color: #f0e6d2;
  text-align: center;
  font-family: 'leagueBoldFont';
  font-size: 40px;
}

hr.topline {
  
border-top: 1px solid #C89B3C;
border-bottom: 1px solid #C89B3C;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}


.flex-items:nth-child(1) {
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: blue;
  padding-right: 20px;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: white;
}
@media (min-width: 768px) {
  .flex-items:nth-child(1) {
  display:block;
  }

};